*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Orbitron',sans-serif;
    background:#050816;
    color:white;
    overflow-x:hidden;
}

#intro{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:radial-gradient(circle,#133c77,#050816);
}

.intro-content{
    text-align:center;
}

.intro-content h1{
    font-size:3rem;
    margin-bottom:20px;
}

button{
    padding:15px 30px;
    border:none;
    border-radius:10px;
    cursor:pointer;
    font-size:1rem;
    font-weight:bold;
}

button:hover{
    transform:scale(1.05);
}

.hidden{
    display:none;
}

header{
    text-align:center;
    padding:30px;
}

.cards-container{
    display:flex;
    justify-content:center;
    padding:30px;
}

.card{
    width:280px;
    height:400px;
    perspective:1000px;
}

.card-inner{
    width:100%;
    height:100%;
    position:relative;
    transform-style:preserve-3d;
    transition:1s;
}

.card:hover .card-inner{
    transform:rotateY(180deg);
}

.card-front,
.card-back{
    position:absolute;
    width:100%;
    height:100%;
    border-radius:20px;
    backface-visibility:hidden;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding:20px;
}

.card-back{
    background:#111827;
    transform:rotateY(180deg);
}

.diamond{
    background:linear-gradient(
        135deg,
        #00d4ff,
        #74f0ff,
        #00d4ff
    );
}
.gold{
    background:linear-gradient(
        135deg,
        #8a6d00,
        #ffd700,
        #8a6d00
    );
}

.silver{
    background:linear-gradient(
        135deg,
        #8f8f8f,
        #e5e5e5,
        #8f8f8f
    );
}
.card{
    transition:0.3s;
}

.card:hover{
    transform:translateY(-10px);
}
